/*=========================================
        ANIMATIONS
=========================================*/

@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0px);

}

}
/*=========================================
        PROFILE RING
=========================================*/

@keyframes ringRotate{

from{
transform:rotate(0deg);
}

to{
transform:rotate(0deg);
}

}